._2rCf5 {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 50px;
    padding: 0 22vw;
    background: #fff;
    color: #5e6df2;
    text-align: center;
    cursor: pointer;
    transition: box-shadow .3s ease-out
}

    ._2rCf5._2tHX0 {
        box-shadow: 0 0 4px 0 rgba(0,0,0,.24);
        border: 0
    }

    ._2rCf5 input {
        display: none
    }

._3H2tT {
    font-size: 40px
}

._21zvr {
    display: none;
    margin: 8px 0 0;
    line-height: 1.28571
}

@media (min-width:768px) {
    ._2rCf5 {
        padding: 12px
    }

    ._21zvr {
        display: block
    }
}

._2IoEh {
    position: relative;
    display: -webkit-box;
    display: flex;
    margin: -8px 0 0 -8px
}

._8Yicw {
    width: 44vw;
    margin: 8px 0 0 8px;
    background: #fff
}

    ._8Yicw figure {
        position: relative;
        width: 100%;
        height: 0;
        padding: 0 0 100%;
        background: #e6e4e6;
        overflow: hidden
    }

    ._8Yicw._2E-3g {
        width: 100vw
    }

._2doBz img {
    width: 100%
}

._1Ra06 {
    height: calc(25% - 8px)
}

    ._1Ra06 img {
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translate(-50%);
        transform: translate(-50%);
        height: 100%
    }

.sm_zY {
    height: calc(25% - 8px)
}

    .sm_zY img {
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%
    }

._1oRB_ {
    justify-content: space-around;
    height: 44px
}

    ._1oRB_, ._1oRB_ > div {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center
    }

        ._1oRB_ > div {
            -webkit-box-pack: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            cursor: pointer
        }

            ._1oRB_ > div:hover {
                color: #5e6df2
            }

            ._1oRB_ > div:last-child {
                border-left: 1px solid #ecedf1
            }

@media (min-width:768px) {
    ._2IoEh {
        flex-wrap: wrap
    }

    ._8Yicw {
        width: calc(25% - 8px)
    }

        ._8Yicw._2E-3g {
            -webkit-box-flex: 1;
            flex: 1;
            min-height: 210px
        }
}

._2Ggh4 {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    display: -webkit-box;
    display: flex;
    height: calc(44vw + 44px)
}

@media (min-width:768px) {
    ._2Ggh4 {
        overflow: visible;
        display: block;
        height: auto
    }
}

._1vqWs {
    margin: 32px 0 0
}

    ._1vqWs:first-child {
        margin: 0
    }

._2GNN5 {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

.SDqfS {
    font-size: 14px;
    font-weight: 400
}

._1_sDk {
    margin: 0 4px 0 0;
    color: #d4001a
}

.smvZw {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    margin: 0 0 0 4px;
    border-radius: 50%;
    background: #999;
    color: #fff;
    font-size: 12px
}

._3c683, .select-wrap {
    margin: 8px 0 0
}

    .select-wrap:first-child {
        margin: 0
    }

.radio-default {
    margin: 16px 0 0
}

    .radio-default:first-child {
        margin: 0
    }

.Ewap8 {
    display: -webkit-box;
    display: flex
}

._32ZyC {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

    ._32ZyC div:last-child {
        margin: 0 0 0 auto
    }

._1Ajin {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

    ._1Ajin div:last-child {
        margin: 0 0 0 auto
    }

._1E0U6 {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

._1bq0T {
    margin: 0 0 0 8px
}

._1g7qe {
    fill: #adb2c3
}

._1JpWb {
    display: -webkit-box;
    display: flex;
    padding: 16px 24px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between
}

._3gTph {
    padding: 24px
}

.ex5he {
    cursor: pointer
}

._2V-WT {
    display: -webkit-box;
    display: flex;
    padding: 16px 24px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    color: #5e6df2
}

.rg0JB {
    cursor: pointer
}

._3T42L {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px 24px;
    cursor: pointer;
    border-top: 1px solid #ecedf1
}

.i46Bi {
    font-size: 14px
}

._1Bhcu {
    width: 25px
}

.g5mcm {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 4px 0;
    cursor: pointer
}

    .g5mcm:hover .ehgtI {
        color: #5e6df2
    }

._1zH5Q {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

._2WXUX {
    color: #5e6df2
}

.TFfvf {
    margin: 4px 0 0;
    font-size: 10px;
    color: #999
}

.ehgtI {
    margin: 0 0 0 8px
}

._2ZWI_ {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 40px
}

._2lCVw {
    position: relative;
    width: 102px;
    height: 102px;
    -webkit-box-flex: 0;
    flex: 0 0 120px;
    cursor: pointer
}

._3VWE4 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: 1px solid #cdced2
}

    ._3VWE4:checked {
        border: 0;
        background: #5e6df2
    }

        ._3VWE4:checked + ._2UP68 {
            color: #fff
        }

._2UP68 {
    position: absolute;
    top: 0;
    left: 8px;
    bottom: 0;
    right: 8px;
    z-index: 2;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    line-height: 1.2
}

._2XT1m {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    display: -webkit-box;
    display: flex;
    height: 102px;
    color: #999
}

.uN6rH {
    margin: 0 0 0 8px;
    font-weight: 700
}

    .uN6rH:first-child {
        margin: 0
    }

.eM8Gk {
    font-size: 14px;
    padding: 0 0 6px
}

@media (min-width:768px) {
    ._2XT1m {
        -webkit-box-pack: justify;
        justify-content: space-between
    }
}

.PfrKh {
    overflow: auto;
    max-height: 252px;
    border-radius: 3px 3px 6px 6px;
    border-left: 1px solid #cdced2;
    border-right: 1px solid #cdced2;
    border-bottom: 1px solid #cdced2;
    box-shadow: 0 0 37px #ecedf1
}

._30McP {
    cursor: pointer;
    padding: 18px
}

    ._30McP.FTyrN, ._30McP:hover {
        background: #5e6df2;
        color: #fff
    }

.CeHp3 {
    display: -webkit-box;
    display: flex;
    margin: 16px 0 0;
    -webkit-box-align: center;
    align-items: center
}

._1N56q {
    margin: 0 0 0 auto;
    font-weight: 700
}

.vlQtr {
    color: #5e6df2
}

.r9YBn {
    text-decoration: line-through
}

._1onQa {
    color: #f47900
}

._3eU_3 input {
    text-align: right
}

._2vLwT {
    margin: 24px 0 0
}

._17iGu {
    font-size: 18px;
    margin: 24px 0 6px
}

._3UxhU li {
    margin: 8px 0 0;
    color: red
}

._20RFr {
    margin: 18px 0 0;
    padding: 24px;
    background: #fff;
    border-radius: 6px
}

._1xlq5 {
    pointer-events: none;
    background: #cdced2;
    border-color: #cdced2
}

.HtmJL {
    margin: 30px 12% 0
}

.pzyEB {
    display: -webkit-box;
    display: flex;
    height: 80px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center
}

._30grm {
    border-top: 1px solid #cdced2;
    padding: 40px
}

    ._30grm p {
        margin: 8px 0 0
    }

.btn-default {
    margin: 24px 0 0
}

._3Mg6z {
    max-width: 700px;
    margin: 0 auto 40px
}

    ._3Mg6z input, ._3Mg6z select {
        width: 100%
    }

.u9Sd8 {
    margin: 18px 24px 0;
    color: #d4001a
}

.sell-loading-container {
    max-width: 700px;
    margin: 0 auto 40px
}

    .sell-loading-container.is-hidden {
        display: none
    }

@-webkit-keyframes a {
    0% {
        background: #ddd
    }

    50% {
        background: #eee
    }

    to {
        background: #ddd
    }
}

@keyframes a {
    0% {
        background: #ddd
    }

    50% {
        background: #eee
    }

    to {
        background: #ddd
    }
}

.sell-loading-images {
    height: calc(44vw + 44px);
    background: #f5f5f5;
    -webkit-animation: a 2.5s ease-out infinite;
    animation: a 2.5s ease-out infinite
}

.sell-loading-section {
    margin: 18px 0 0;
    padding: 26px;
    background: #fff
}

.sell-loading-head {
    margin: 18px 0 0;
    width: 100px;
    height: 14px;
    background: #f5f5f5;
    -webkit-animation: a 2.5s ease-out infinite;
    animation: a 2.5s ease-out infinite
}

    .sell-loading-head:first-child {
        margin: 0
    }

.sell-loading-content {
    width: 100%;
    height: 30px;
    margin: 8px 0 0;
    background: #f5f5f5;
    -webkit-animation: a 2.5s ease-out infinite;
    animation: a 2.5s ease-out infinite
}

@media (min-width:768px) {
    .sell-loading-images {
        height: 210px
    }
}
